$black: #15181b;
$darkBlack: #313840;
$darkGrey: #495057;
$grey: #7b7f84;
$lightGrey: #ced4da;
$lightGrey2: #e9ecef;
$lightGrey3: #f8f9fa;
$white: #ffffff;

$blue: #1893c5;
$lightBlue: #afe6fc;
$mintBlue: #e9faff;

$pink: #fff5f6;
$violet: #f8f8ff;
$orange: #fff4e4;

$error: #ff0f0f;
$info: #549bff;
$warning: #ffa442;
$success: #00c814;

$transition: all 0.4s ease;
$scale: 1.07;
$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
